body {
  width: 1280px;
  margin: 0 auto;
  background: #F2F2F2;
  padding: 45px 80px 88px 80px;
  overflow-x: hidden;
}

.continer {
  width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    width: 768px;
    margin: 0 auto;
    padding: 40px;
  }
  .continer {
    width: 689px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    width: 375px;
    margin: 0 auto;
    padding: 32px 24px 72px 24px;
  }
  .continer {
    width: 327px;
    margin: 0 auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.header__logo {
  text-decoration: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-bars {
  display: none;
}

.header__item {
  margin-right: 33px;
}

.header__item:nth-child(3) {
  margin-right: 0;
}

.header__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .header__logo {
    width: 163px;
    height: 18px;
    margin-right: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    display: none;
  }
  .fa-bars {
    display: inline-block;
  }
}

.page {
  width: 486px;
  height: 182px;
  background: #A2A2A2;
  border-radius: 10px;
  background-image: url(../img/Bitmap.png);
  background-repeat: no-repeat;
  margin-bottom: 165px;
  padding: 137px 710px 137px 85px;
}

.page__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin: 0;
  margin-bottom: 32px;
}

.page__discription {
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .page {
    width: 398px;
    height: 147px;
    background-image: url(../img/completed-tablet.png);
    background-repeat: no-repeat;
    padding: 127px 233px 126px 58px;
  }
  .page__title {
    width: 324px;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .page__discription {
    width: 398px;
    height: 75px;
    font-size: 15px;
    line-height: 25px;
  }
}

.wrapper {
  padding: 0 85px 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 168px;
}

.text {
  width: 255px;
  height: 356px;
}

.text__list {
  height: 356px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text__item {
  margin-bottom: 24px;
}

.text__line {
  width: 255px;
  margin: 0;
  background: #83888F;
  opacity: 0.25;
}

.text__discription {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  opacity: 0.4;
  margin: 0;
}

.text__number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #0E8784;
  text-decoration: none;
  opacity: 0.4;
}

.text__btn {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  opacity: 0.4;
}

.text__discription--last {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin: 0;
}

.text__number--last {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  text-decoration: none;
}

.wraps__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wraps__item {
  margin-bottom: 88px;
}

.wraps__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.wraps__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin: 0;
}

.wrap__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.wrap__item {
  padding: 32px 28px 84px 28px;
  background: #F4F1EB;
  border-radius: 8px;
  margin-right: 23px;
}

.wrap__item:last-child {
  margin-right: 0;
}

.wrap__item--color {
  padding: 32px 28px 84px 28px;
  background: #0E8784;
  border-radius: 8px;
  margin-right: 23px;
}

.fas {
  color: #0E8784;
}

.wrap__text {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin: 0;
  margin-bottom: 24px;
}

.wrap__text--color {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 24px;
}

.wrap__discription {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  color: #333D4B;
}

.wrap__discription--color {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 0;
}

.wraps__item:nth-child(6) {
  margin-bottom: 0;
}

.wraps__links {
  background: #2C343E;
  border-radius: 10px;
  padding: 27px 64px;
}

.wraps__order {
  font-family: " Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 8px;
}

.wraps__discription {
  width: 602px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0;
}

.wraps__link {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #0E8784;
  margin: 0;
  text-decoration: none;
}

.wraps__create {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background: #66D2CF;
  border-radius: 6px;
  text-decoration: none;
  color: #FEFCF7;
  padding: 15px 35.5px 16px 35.5px;
  display: inline-block;
  margin: 0;
  margin-top: 40px;
  margin-left: 513px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 58px 48px 59px;
  background: #2C343E;
}

.footer__logo {
  text-decoration: none;
  margin-right: 103px;
}

.footer__nav {
  width: 285px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-right: 370px;
}

.footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.footer__item {
  margin-right: 33px;
}

.footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

.footer__item:nth-child(3) {
  margin-right: 0;
}

.footer__icon--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.footer__icon--item:nth-child(1) {
  width: 24px;
  margin-right: 24px;
}

.footer__icon--item:nth-child(2) {
  width: 24px;
  margin-right: 24px;
}

.footer__icon--item:nth-child(3) {
  width: 24px;
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 283px;
    height: 162px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 54px 191px 54px 215px;
  }
  .footer__logo {
    width: 236px;
    height: 26px;
    margin: 0;
    margin-bottom: 32px;
  }
  .footer__nav {
    width: 285px;
    height: 15px;
    margin: 0;
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    width: 273px;
    height: 292px;
    padding: 27px;
  }
  .footer__logo {
    width: 233px;
    height: 24px;
    margin-bottom: 88px;
  }
  .footer__nav {
    width: 122px;
    height: 93px;
    margin-bottom: 48.56px;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item {
    margin: 0;
    margin-bottom: 24px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=completed.css.map */