// .download{
//     padding:91px 150px 109px 85px;
//     background: #2C343E;
//     border-radius: 10px;
//     margin-bottom: 159px;
// }
// .line{
//     box-sizing:border-box;
//     width: 760px;
//     height:1px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     border: 1px solid #FDD6BA;
//     padding-left: 15px;
// }
// .link__circle{
//     display: inline-block;
//     width: 31px;
//     height: 31px;
//     transform: translateX(-30px);
//     border: 2px solid #0E8784;
//     border-radius: 50%;
// }
// .three{
//     transform: translateX(20px);
// }
// .download__number{
//     font-family: "Fraunces";
//     font-style: normal;
//     font-weight: 900;
//     font-size: 72px;
//     line-height: 72px;
//     color: #FDD6BA;
//     margin: 0;
// }
// .download__list{
//     width: 1045px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
//     margin-top: 67px;
// }
// .download__item{
//     width: 285px;
//     height: 355px;
//     padding: 0;
//     margin-right: 95px;
// }
// .download__item:last-child{
//     margin-right: 0;
// }
// .download__text{
//     font-family: "Fraunces";
//     font-style: normal;
//     font-weight: 900;
//     font-size: 32px;
//     line-height: 36px;
//     color: #FEFCF7;
    
// }
// .download__discription{
//     width: 285px;
//     height: 130px;
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 26px;
//     color: #FEFCF7;
//     margin: 0;
//     padding: 0;
    
// }
.download{
    width: 1045px;
    height: 665px;
    margin-top: 351px;
    margin-left: 95px;
    margin-bottom: 200px;
}
.download__title{
    font-family:" Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;    
    color: #83888F;
    display: inline-block;
    margin: 0;
}
.line{
    box-sizing:border-box;
    width: 800px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #FDD6BA;
    background-color: #FDD6BA;
    margin-top: 80px;
}
.link__circle{
    display: inline-block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
}
.download__number{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin: 0;
}
.download__list{
    width: 1045px;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 67px;
}
.download__item{
    width: 285px;
    height: 355px;
    padding: 0;
    margin-right: 95px;
}
.download__item:last-child{
    margin-right: 0;
}
.download__text{
    word-wrap: 255px;
    height: 72px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    margin-top: 38px;
    margin-bottom: 42px;
    color: #333D4B;
    
}
.download__discription{
    width: 295px;
    height: 130px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin: 0;
    padding: 0;
    
}
.download__link{
    @extend %page__link;
    margin-top: 64px;
    &__link:hover{
        background: #66D2CF;
    }
    &__link:active{
        background: #E2DEDB;
    }
}
@media screen and (max-width:768px) {
    .download{
        width: 698px;
        height: 612px;
        margin: 0;
        margin-top: 434px;
        margin-bottom: 144px;
        
        &__list{
            margin-bottom: 44px;
        }
        
        &__item{
            width: 223px;
            height: 371px;
            margin: 0;
        }
        &__text{
            width: 223px;
            height: 65px;
            font-size: 28px;
            line-height: 32px;
        }
        
        &__discription{
            width: 223px;
            height: 154px;
            font-size: 15px;
            line-height: 25px;
        }
        
        &__link{
            margin-top: 0;
        }
    }
    
    .line{
        width: 467px;
        margin-top: 40px;
    }
}

@media screen and (max-width:375px) {
    
    .download{
        width: 327px;
        height: 1116px;
        text-align: center;
        margin: 0;
        margin-bottom: 120px;
        
        &__title{
            width: 327px;
            height: 32px;
            text-align: center;
            margin-bottom: 80px;
        }
        &__list{
            width: 327px;
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 79px;
        }

        &__item{
            width: 327px;
            height: 252px;
            margin-bottom: 56px;
        }

        &__item{
            margin-bottom: 56px;
        }

        &__item:last-child{
            margin-bottom: 0;
        }
        
        &__number{
            width: 90px;
            margin: 0 auto;
        }
        
        &__text{
            width: 327px;
            height: 32px;
            font-size: 28px;
            line-height: 32px;
            margin:24px 0px 24px 0px;
        }

        &__discription{
            width: 327px;
            height: 100px;
        }
    }
    
    .line{
        display: none;
    }
}