.download{
    padding:91px 150px 109px 85px;
    background: #2C343E;
    border-radius: 10px;
    margin-bottom: 159px;
}
.line{
    box-sizing:border-box;
    width: 760px;
    height:1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #FDD6BA;
    padding-left: 15px;
}
.link__circle{
    display: inline-block;
    width: 31px;
    height: 31px;
    transform: translateX(-30px);
    border: 2px solid #0E8784;
    border-radius: 50%;
}
.circle-three{
    transform: translateX(20px);
}
.download__number{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin: 0;
}
.download__list{
    width: 1045px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 67px;
}
.download__item{
    width: 285px;
    height: 355px;
    padding: 0;
    margin-right: 95px;
}
.download__item:last-child{
    margin-right: 0;
}
.download__text{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
    
}
.download__discription{
    width: 285px;
    height: 130px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
    
}

@media screen and (max-width:768px) {
    body{
        padding: 0;
    }
    .download{
        width: 689px;
        height: 473px;
        margin: 0;
        margin-top: 144px;
        margin-bottom: 144px;
        padding: 97px 39px 70px 40px;
        
        &__list{
            width: 669px;
            height: 394px;
        }
        
        &__item{
            width: 223px;
            height: 371px;
            margin: 0;
        }
        &__text{
            width: 223px;
            height: 65px;
            font-size: 28px;
            line-height: 32px;
            margin-top: 42px;
            margin-bottom: 38px;
        }
        
        &__discription{
            width: 223px;
            height: 177px;
            font-size: 15px;
            line-height: 25px;
        }
        
        &__link{
            margin-top: 0;
        }
    }
    
    .line{
        width: 467px;
        margin: 0;
    }
    
    .circle-two{
        margin-left: 40px;
    }
}

@media screen and (max-width:375px) {
    

    body{
        padding: 0;
    }
    .download{
        width: 327px;
        height: 866px;
        text-align: center;
        margin: 0;
        margin-bottom: 120px;
        padding: 80px 24px 79px 24px;
        
        &__title{
            width: 327px;
            height: 32px;
            text-align: center;
            margin-bottom: 80px;
        }
        &__list{
            width: 327px;
            height: 866px;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        
        &__item{
            width: 327px;
            height: 252px;
            margin: 0;
            margin-bottom: 56px;
        }
        
        &__item{
            margin-bottom: 56px;
        }
        
        &__item:last-child{
            margin-bottom: 0;
        }
        
        &__number{
            width: 90px;
            margin: 0 auto;
        }
        
        &__text{
            width: 327px;
            height: 32px;
            font-size: 28px;
            line-height: 32px;
            margin:24px 0px 24px 0px;
        }
        
        &__discription{
            width: 327px;
            height: 100px;
        }
    }
    
    .line{
        display: none;
    }
}