.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header__logo{
    text-decoration: none;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-bars{
    display: none;
}
.header__item{
    margin-right: 33px;
}
.header__item:nth-child(3){
    margin-right: 0;
}
.header__link{
    font-family:"Barlow";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}
@media screen and (max-width:768px) {
    .header{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:375px) {
    
    body{
        width: 375px;
    }
    .header{
        width: 327px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        &__logo{
            width: 163px;
            height: 18px;
            margin-right: 148px;
            display: flex;
        }
        
        &__nav{
            display: none;
        }
        
        
    }
    .fa-bars{
        display: inline-block;
    }
}