.wrapper{
    
    padding: 0 85px 0 85px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
}
.text{
    width: 255px;
    height: 356px;
    &__list{
        height: 356px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__item{
        margin-bottom: 24px;
    }
    &__line{
        width: 255px;
        margin: 0;
        background: #83888F;
        opacity: 0.25;
    }
    &__discription{
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        opacity: 0.4;
        margin: 0;
    }
    &__number{
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #0E8784;
        text-decoration: none;
        opacity: 0.4;
    }
    &__btn{
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        opacity: 0.4;
    }
    &__discription--last{
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin: 0;
        
    }
    &__number--last{
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        text-decoration: none;
    }
}
.wraps{
    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;
    } 
    &__item{
        margin-bottom: 88px;
    }
    
    &__titles{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;
    }
    &__title{
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
        margin: 0;
    }
}
.wrap__list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.wrap__item{
    padding: 32px 28px 84px 28px;
    background: #F4F1EB;
    border-radius: 8px;
    margin-right: 23px;
}
.wrap__item:last-child{
    margin-right: 0;
}
.wrap__item--color{
    padding: 32px 28px 84px 28px;
    background: #0E8784;
    border-radius: 8px;
    margin-right: 23px;
}
.fas{
    color: #0E8784;
}
.wrap__text{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin: 0;
    margin-bottom: 24px;
}
.wrap__text--color{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 24px;
}
.wrap__discription{
    width: 172px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #333D4B;
}
.wrap__discription--color{
    width: 172px;
    height: 78px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin: 0;
}
.wraps__item:nth-child(6){
    margin-bottom: 0;
}
.wraps__links{
    background: #2C343E;
    border-radius: 10px;
    padding: 27px 64px;
}
.wraps__order{
    font-family:" Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
    margin-bottom: 8px;
}
.wraps__discription{
    width: 602px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
    
}
.wraps__link{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #0E8784;
    margin: 0;
    text-decoration: none;
}
.wraps__create{
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background: #66D2CF;
    border-radius: 6px;
    text-decoration: none;
    color: #FEFCF7;
    padding: 15px 35.5px 16px 35.5px;
    display: inline-block;
    margin: 0;
    margin-top: 40px;
    margin-left: 513px;
    
}

@media screen and (max-width:768px) {
    
    
    body{
        width: 768px;
        margin: 0 auto;
        padding: 40px;
    } 
    
    .wrapper{
        width: 689px;
        padding: 0;
    }
    
    .text{
        display: none;
    }
    
    .wraps{
        
        
        &__order{
            width: 172px;
        }
        
        &__titles{
            width: 701px;
            height: 48px;
            margin-bottom: 40px;
        }
        &__title{
            width: 506px;
            font-size: 32px;
            margin: 0;
            
        }
        &__item{
            margin-bottom: 100px;
        }
        
        &__item:nth-child(5){
            margin-bottom: 140px;
        }
        
        &__item:nth-child(6){
            width: 730px;
        }
        
        &__links{
            width: 602px;
            padding-right: 43px;
            padding-left: 44px;
            margin-bottom: 40px;
        }
        
        &__create{
            width: 146px;
            height: 25px;
            margin: 0;
            margin-left: 236px;
            
        }
        
        
    }
    
    .wrap{
        
        &__item{
            padding: 32px 26px 84px 25px;
        }
    }
    
}

@media screen and (max-width:375px) {
    
    body{
        width: 375px;
        margin: 0 auto;
        padding: 32px 24px 72px 24px;
    }
    
    .wrapper{
        width: 328px;
    }
    
    .wraps{
        
        width: 328px;
        
        &__item{
            margin-bottom: 96px;
        }

        &__item:nth-child(5){
            margin-bottom: 120px;
        }
        &__titles{
            width: 328px;
            height: 56px;
            margin-bottom: 32px;
        }
        &__title{
            width: 240px;
            height: 56px;
            font-size: 24px;
            line-height: 28px;
        }

        &__links{
            width: 279px;
            height: 274px;
            margin-bottom: 56px;
            padding: 32px 24px 32px 25px;
        }

        &__discription{
            width: 279px;
            height: 240px;
        }

        &__create{
            margin-left: 55px;
        }
        
        
    }
    .fa-chevron-up{
        margin-left: 69px;
    }
    
  .wrap{
    &__list{
        display: flex;
        flex-direction: column;
    }

    &__item{
        width: 278px;
        height: 92px;
        padding: 24px 25px;
        margin-right: 0;
    }

    &__item--color{
        width: 278px;
        height: 92px;
        padding: 24px 25px;
        margin-right: 0;
    }
    &__text{
        width: 175px;
        height: 32px;
        margin-bottom: 8px;
    }

    &__discription{
        width: 278px;
        height: 52px;
    }

    &__text--color{
        width: 175px;
        height: 32px;
        margin-bottom: 8px;
    }

    &__discription--color{
        width: 278px;
        height: 52px;
    }
  }
    
    .fa-chevron-up{
        margin-left: 69px;
    }
}