.coffee{
    background: #2C343E;
    border-radius: 10px;
    padding: 0px 0px 176px 85px;
    display: flex;
    align-items: center;
    margin-bottom: 168px;
    position: relative;
    &__list{
        margin-right: 125px;
    }
    &__title{
        font-family:" Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin: 0;
        margin-bottom: 32px;
        
    }
    &__discription{
        font-family: "Barlow";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
        margin: 0;
    }

    &__img{
        transform: translateY(-100px);
    }
    
}