body{
    background: #F2F2F2;
    padding: 45px 0px 88px 0px;
}
.continer{
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    
}
@media screen and (max-width:768px) {
    
    body{
        padding: 40px;
    } 
    .continer{
        width: 689px;
        margin: 0 auto;
    }
}