.footer{
    display: flex;
    align-items: center;
    
    padding: 48px 58px 48px 59px;
    background: #2C343E;
}
.footer__logo{
    text-decoration: none;
    margin-right: 103px;
}
.footer__nav{
    width: 285px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 370px;
}
.footer__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.footer__item{
    margin-right: 33px;
}
.footer__link{
    font-family:"Barlow";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}
.footer__item:nth-child(3){
    margin-right: 0;
}
.footer__icon--list{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.footer__icon--item:nth-child(1){
    width: 24px;
    margin-right: 24px;
}
.footer__icon--item:nth-child(2){
    width: 24px;
    margin-right: 24px;
}
.footer__icon--item:nth-child(3){
    width: 24px;
    margin-right: 0px;
}