.page{
    width: 493px;
    height: 367px;
    background: #A2A2A2;
    border-radius: 10px;
    background-image:url(../img/Bitmap2.png);
    background-repeat: no-repeat;
    margin-bottom: 136px;
    padding: 117px 702px 116px 85px;
}
.page__title{
    width: 493px;
    height: 145px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin: 0;
    margin-bottom: 32px;
}
.page__discription{
    width: 407px;
    height: 78px;
    font-family:" Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 56px;
}
.page__link{
    @extend %page__link;
    &__link:hover{
        background: #66D2CF;
    }
    &__link:active{
        background: #E2DEDB;
    }
}

@media screen and (max-width:768px) {
    .page{
        width: 398px;
        height: 292px;
        background-image:url(../img/tablet-Bitmap.png);
        background-repeat: no-repeat;
        margin-bottom: 144px;
        padding: 104px 233px 104px 58px;
        
        &__title{
            width: 329px;
            height: 97px;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
        }
        
        &__discription{
            width: 398px;
            height: 75px;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width:375px) {
    
    .page{
        width: 279px;
        height: 301px;
        padding: 100px 24px 99px 24px;
        background-image:url(../img/home-phone.png);
        background-repeat:no-repeat;
        text-align: center;

        &__title{
            width: 279px;
            height: 81px;
            font-size: 40px;
            line-height: 40px;
        }
        
        &__discription{
            width: 279px;
            height: 101px;
            margin-bottom: 39px;
        }
    }
}